*{
    margin:0;
    padding: 0;
}

body{
    background-image: url("../images/stages/stage1.jpg");
    background-repeat: no-repeat;

}

#main_player{
    height: 200px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

.enemy{
    height:200px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}