*{
    margin:0;
    padding: 0;
}

body{
    background-image: url("../images/stages/stage1.jpg");
    background-repeat: no-repeat;

}

#main_player{
    height: 250px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: 150px 200px; 
    background-position: center;
}

.enemy{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 150px 200px; 
    background-position: center;
    
}

#alchemy{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 500px 250px; 
    background-position: center;
}